---
import LayoutDefault from "../layouts/LayoutDefault.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blogs");

const title = "Blogs";
const description = "My Description";
const image = "../images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<h1>My posts</h1>
	<ul>
		{
			posts.map((post) => (
				<li>
					<a href={`/blogs/${post.id}`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</LayoutDefault>
