---
import LayoutDefault from "../layouts/LayoutDefault.astro";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const posts = (await getCollection("blogs")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = "Blogs";
const description = "My Description";
const image = "../images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<h1>My posts</h1>
	<ul class="blogs" role="list">
		{
			posts.map((post) => (
				<li>
					<Image src={post.data.image as any} alt={post.data.alt} />
					<a href={`/blogs/${post.id}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</LayoutDefault>

<style>
	.blogs {
		display: grid;
		grid: auto / repeat(auto-fill, minmax(min(300px, 100%), 1fr));
		gap: 2em;

		li {
			position: relative;
		}

		a::after {
			content: "";
			position: absolute;
			inset: 0;
		}

		img {
			inline-size: 100%;
			aspect-ratio: 16 / 9;
		}
	}
</style>
