---
import LayoutDefault from "./LayoutDefault.astro";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<LayoutDefault title={frontmatter.title} description={frontmatter.description} image={frontmatter.image?.src}>
	<Image src={frontmatter.image} format="avif" alt={frontmatter.alt} />
	<time class="block" datetime={frontmatter.pubDate.toISOString().split("T")[0]}>
		{frontmatter.pubDate.toISOString().split("T")[0]}
	</time>
	<h1>{frontmatter.title}</h1>
	<slot />
</LayoutDefault>

<style>
	img {
		inline-size: 100%;
		aspect-ratio: 21 / 9;
		object-fit: cover;
	}
</style>
