---
import LayoutDefault from "./LayoutDefault.astro";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<LayoutDefault title={frontmatter.title} description={frontmatter.description} image={frontmatter.image?.src}>
	<article class="blog">
		<header>
			<Image src={frontmatter.image} alt={frontmatter.alt} format="avif" layout="constrained" priority />
			<hgroup>
				<h1>{frontmatter.title}</h1>
				<span>
					Published:
					<time class="block" datetime={frontmatter.pubDate.toISOString().split("T")[0]}>
						{frontmatter.pubDate.toISOString().split("T")[0]}
					</time>
				</span>
			</hgroup>
		</header>
		<slot />
	</article>
</LayoutDefault>

<style>
	article {
		inline-size: min(1000px, 95%);
		margin-inline: auto;
		padding-block: 1em;
		padding-inline: 1em;
		background: var(--blockColor);
		border: var(--blockBorder);
		border-radius: var(--borderRadius);

		> header {
			margin-block-end: 2.5em;
			display: grid;
			gap: 1em;

			img {
				inline-size: 100%;
				aspect-ratio: 16 / 10;
				object-fit: cover;
				border-radius: var(--borderRadius);
			}

			hgroup {
				display: grid;
				place-items: start;
				gap: 2rem;
			}

			span:has(time) {
				font-size: var(--fs-1);
				display: inline-block;
				background: oklch(from var(--colorSuc) l c h / 0.15);
				color: var(--colorSuc);
				border-radius: var(--borderRadius);
				font-weight: 900;
				padding-inline: 0.3em;
				padding-block: 0.15em;
			}
		}

		> *:not(:where(:last-child)) {
			margin-block-end: 1em;
		}

		> *:not(h1, h2, h3, h4, h5, h6):has(+ :is(h1, h2, h3, h4, h5, h6, hr)) {
			margin-block-end: 2.75em;
		}

		> :is(h1, h2, h3, h4, h5, h6):has(+ :is(h2, h3, h4, h5, h6)) {
			margin-block-end: 1.5em;
		}

		:is(ul, ol) li:not(:last-child) {
			margin-block-end: 0.5em;
		}

		li:has(> :is(ol, ul)) :is(ol, ul) {
			margin-block-start: 0.5em;
		}

		:is(h1, h2, h3, h4, h5, h6) {
			text-transform: uppercase;
			line-height: 1.1;
			text-wrap: balance;
		}

		h1 {
			font-size: var(--fs-5);
		}
		h2 {
			font-size: var(--fs-4);
		}
		h3 {
			font-size: var(--fs-3);
		}
		h4 {
			font-size: var(--fs-2);
		}

		hr {
			border: unset;
			border-top: dotted 5px;
		}

		code {
			display: inline-block;
			background: black;
			border-radius: 0.25em;
			padding-inline: 0.35em;
			padding-block: 0.125em;
			font-size: var(--fs-1);
		}
	}
</style>
