---
import LayoutDefault from "./LayoutDefault.astro";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<LayoutDefault title={frontmatter.title} description={frontmatter.description} image={frontmatter.image?.src}>
	<article class="blog">
		<header>
			<Image src={frontmatter.image} alt={frontmatter.alt} format="avif" layout="constrained" priority />
			<time class="block" datetime={frontmatter.pubDate.toISOString().split("T")[0]}>
				{frontmatter.pubDate.toISOString().split("T")[0]}
			</time>
			<h1>{frontmatter.title}</h1>
		</header>
		<hr />
		<slot />
	</article>
</LayoutDefault>

<style>
	img {
		inline-size: 100%;
		aspect-ratio: 21 / 9;
		object-fit: cover;
	}

	article {
		width: min(800px, 100%);
		margin-inline: auto;
		padding-block: 1.5em;
		padding-inline: 1.5em;

		> header {
			margin-block-end: 1.5em;
		}

		> *:not(:where(:last-child)) {
			margin-block-end: 1em;
		}

		> *:has(+ :is(h1, h2, h3, h4, h5, h6)) {
			margin-block-end: 2.5em;
		}
	}

	header {
		display: grid;
		gap: 3rem;
	}
</style>
